[2013-07-15 17:33] beanumber opened #1 "suspended games"
What to do about games that get started, but are then called or suspended? Technically, the stats from these games don't count, but the data is live on the GameDay server.

There were three such games in the first half of 2013.

[code]

Should they be included by default, or not?

[2013-07-15 17:39] beanumber opened #2 "warplot() should use facets to show density plots for all four WAR components"
It should be like:

[code]

[2013-07-15 17:45] beanumber opened #3 "ghostrunnerExR() is too slow"

[2013-07-15 23:15] beanumber opened #4 "add batter fielding position to data set"
We need to know which position each player is playing in order to control for position

[2013-07-15 23:16] #2 closed, assigned to beanumber

[2013-07-15 23:16] #1 closed, assigned to beanumber

[2013-07-18 13:50] beanumber opened #5 "make makeSubstitutions() more robust so that batterPos is completely accurate"
Sometimes the batterPos cannot be determined by makeSubstitutions(). Usually this is due to a data error. For example, in

[code]

Jeanmar Gomez's playerId is not accurate -- instead Jonathan Sanchez's is listed. In

[code]

Brooks Raley's playerId is given as 0.

Not sure how to recover from such errors.

[2013-07-18 17:43] #4 closed, assigned to beanumber

[2013-07-18 18:31] beanumber opened #6 "inside-the-park home runs should have isBIP == TRUE"
For example,

[code]

[2013-07-26 22:14] beanumber opened #7 "baserunners look bad on walk-offs"
If there is a walk-off, all of the baserunners disappear, which makes it seems like they all got out. Consequently delta.br can be very negative, which isn't fair to the baserunners.

[2013-08-08 11:50] beanumber opened #8 "appeal to xsltproc should be pushed into R"
xsltproc is native to both OS X and Linux, but not Windows. Thus, we need to find a way to do this from within R.

[2013-08-08 11:51] beanumber opened #9 "remove RMySQL dependency"
This is no longer necessary and causes problems on Windows.

[2013-08-10 12:20] #9 closed, assigned to beanumber

[2013-08-10 12:26] beanumber opened #10 "remove "outs" from processed data frame"
We don't need "outs", because we already have "startOuts" and "endOuts".

[2013-08-10 13:11] #3 closed, assigned to nobody

[2013-08-11 02:26] pssguy opened #11 "Problem downloading package"
Hi
tried
devtools::install_github("openWAR", "beanumber")

got
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  there is no package called 'RMySQL

[2013-08-12 18:39] gjm112 opened #12 "Caught Stealing / Wild Pitches"
These event are attributed to the runners correctly with an exception.

If a player steals a base/advances on wild pitch and then the inning end before they move on a BIP event the player gets no credit for advancing.

[2013-08-13 13:31] beanumber opened #13 "add isAB to data.frame"
This will aid in sanity checks for conventional statistics.

[2013-08-13 13:49] #10 closed, assigned to beanumber

[2013-08-13 16:21] gjm112 opened #14 "Objects and methods for output of makeWAR"
Create an object containing data frames that are the output of makeWAR and create methods (plot, summary, etc.) to go along with these objects

[2013-08-13 16:27] gjm112 opened #15 "Out of sample WAR"
The parameters involved in calculating openWAR should be able to be calculated with one set of data, and then applied to another set of possibly different data.  For instance, we calculate parameters using data from 2000-2012 and then calculate players openWAR for the year 2013 based on the previous years.

[2013-08-14 13:34] beanumber opened #16 "implement common metrics like wOBA, FIP, etc."
We probably won't be able to do UZR, but we should try to do as many as we can of the metrics that are commonly used to compute fWAR, rWAR, WARP, etc.

[2013-08-14 13:34] beanumber opened #17 "define and implement replacement level"

[2013-08-15 13:06] beanumber opened #18 "build a games file in getData() alongside the play-by-play data file"
It would be nice to have a separate data.frame that contained information about each game. This could also be built separately by just rbinding the game.xml files.

[2013-08-19 15:14] cpsievert opened #19 "RCurl vs XML"
Hi Ben,

I recently attended your JSM talk and was excited to see that your work is open source. You might find my R package (also on GitHub), pitchRx, helpful for your work. It already has the capability of scraping more than just data recorded on the atbat level. [This demo page](http://cpsievert.github.io/pitchRx/demo/) has a decent tutorial of its capabilities.

It's interesting that you are u

[2013-08-20 21:17] #8 closed, assigned to beanumber

[2013-08-20 21:18] #11 closed, assigned to nobody

[2013-08-20 21:18] #13 closed, assigned to beanumber

[2013-08-31 20:48] beanumber opened #20 "fix plays that begin with 3 outs"
There are several plate appearances in 2012 that start with 3 outs!

[code]

[2014-12-19 17:02] beanumber opened #21 "replace all plyr commands with dplyr commands"
I think this is done, but when I do:
[code]
plyr keeps getting injected into the NAMESPACE file.

[2014-12-22 19:57] beanumber opened #22 "Error in rm.vec["end1B"] = subset(rm.df, end == "1B")$id : replacement has length zero"
WHY?!?!

[2015-01-04 12:48] suensummit opened #23 "package ‘Sxslt’ is not available (for R version 3.1.2)"
As title: package ‘Sxslt’ is not available (for R version 3.1.2)

- R version 3.1.2 (2014-10-31) -- "Pumpkin Helmet"
- RStudio Version 0.98.1091
- Mac OS X Yosemite 10.10.1

Thanks!

[2015-01-04 17:04] gjm112 commented on #23
The 'Sxslt' package is not available on CRAN.  It's in the Omega Hat (http://www.omegahat.org/) repository.

[2015-01-06 05:40] suensummit commented on #23
Sorry that I should paste the whole error messages here:

[code]

It sounds like my Mac was lack of the file "libxml/tree.h", but it doesn't work even after I ```brew install libxml2``` ...

[2015-01-20 14:55] beanumber commented on #23
In Mavericks (OS X 10.9.5) I had this same problem. Doing this:
[code]
fixed it.

Reference: http://stackoverflow.com/questions/19548011/cannot-install-lxml-on-mac-os-x-10-9

[2015-01-21 16:59] suensummit commented on #23
It works out! Thanks!

[2015-01-21 16:59] #23 closed

[2015-02-06 03:58] Timsie commented on #22
The errors don't disappear after sourcing GameDay.R for me :(  I also get another error:

`In readData.gameday(gd) : NAs introduced by coercion
Error in UseMethod("filter_") :
  no applicable method for 'filter_' applied to an object of class "NULL"`

This was when running games = getData(start = "2014-05-21", end = "2014-05-21").  Any ideas?

[2015-02-06 15:40] beanumber commented on #22
I know this must be related to the transition from `plyr` to `dplyr`, and that might explain the error you are seeing with `filter`. I haven't yet been able to track down the other bug yet.

Very frustrating.

[2015-02-09 15:49] beanumber commented on #22
For now, you can use the v0.1 release until I fix this:

https://github.com/beanumber/openWAR/releases/tag/v0.1

[2015-02-10 01:20] Timsie commented on #22
Thanks!  For now I'm just using GameDay.R for my needs.  I've stripped out a lot ot help in my learning process...

[2015-02-16 18:42] gjm112 commented on #22
Ben,

I get this same problem.  And when I source GameDay.R I get no errors.  I have NO IDEA what would cause this.

Cheers,
Greg

[2015-05-11 03:22] znmeb opened #26 "Include a link to the openWAR arXiv paper in the documentation"
In 'DESCRIPTION' there's this phrase:

"Those interested in the modeling choices that we have made in our computation of openWAR should consult our paper on the arXiv on that subject."

I couldn't find a link anywhere in the documentation to the paper. So I had to do a search (Yahoo, "openWAR arXiv" did the trick.)

http://arxiv.org/abs/1312.7158

Seems like that link should be somewhere in the do

[2015-05-11 05:07] znmeb commented on #22
I'm seeing this when I do `devtools::install_github('beanumber/openWAR', build_vignettes=TRUE)` as well.

[code]

[2015-05-13 17:45] obarisk commented on #22
please check the getRunnerMovement function within R/GameDay.R
use namespace predicate before summarize and group_by
or full remove plyr in the package ( it reqires regenerating namespace file )

use predicate should look like this
rm.df <- dplyr::summarize(dplyr:;group_by(rm.df, id), start=min(start), end=max(end))

plyr::summarize will not retain column for grouping.

[2015-05-13 17:47] obarisk commented on #21
in openWAR-package.R
remove plyr within @import

[2015-05-13 20:56] znmeb commented on #22
@obarisk Does your fork have this fix?

[2015-05-13 23:19] obarisk commented on #22
Yes, I'll send a pull request after checking my code.

[2015-05-13 23:50] znmeb commented on #22
@obarisk Thanks!!

[2015-05-13 23:57] gjm112 commented on #22
This is a huge help.

On Wed, May 13, 2015 at 6:19 PM, 鐘翊修 <notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <http://www.twitter.com/statsclass>

[2015-05-14 13:48] beanumber commented on #22
I think commit 8468be0 from @obarisk fixed this.

@gjm112:  can you confirm and close the issue?

[2015-05-14 16:25] beanumber commented on #26
So added.

[2015-05-14 16:25] #26 closed

[2015-05-14 16:29] beanumber opened #28 "Warning in scan...EOF within quoted string error on Build"
Why does this appear? Is it a Mac/PC file encoding error?

[2015-05-14 16:30] beanumber commented on #21
Fixed, thanks to @obarisk

[2015-05-14 16:30] #21 closed

[2015-05-14 16:36] obarisk commented on #28
Take a look on data/id_map.csv file
It was a tab separated file, and I move it into a comma-separated file.

I am not sure how read.csv works in mac/pc

[2015-05-14 17:19] znmeb commented on #22
The vignette builds successfully thanks to commit 8468be0 as well.

[2015-05-14 17:43] beanumber commented on #28
I removed this file.

[2015-05-14 17:43] #28 closed

[2015-05-14 17:43] znmeb opened #29 "Demos crash"
[code]

I haven't looked at the code yet - it might be easier to delete the demos.

[2015-05-14 17:55] gjm112 commented on #22
Ben did you close this already or did you close a different item?

On Thu, May 14, 2015 at 12:19 PM, M. Edward (Ed) Borasky <
notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsCla

[2015-05-14 19:36] beanumber commented on #29
Yeah -- this not intended for public consumption. I will move this somewhere more appropriate.

[2015-05-15 12:29] beanumber commented on #22
@gjm112 I was hoping you could confirm that the bug is fixed and then close this issue -- which is still open (but I believe can be closed).

[2015-05-15 12:37] #17 closed

[2015-05-18 18:04] gjm112 commented on #22
I just checked this.  This works now:

![screen shot 2015-05-18 at 1 03 41 pm](https://cloud.githubusercontent.com/assets/1152165/7686836/581d27a8-fd5e-11e4-937c-aa6dca1c7171.png)

[2015-05-18 18:04] #22 closed

[2015-05-19 13:32] beanumber opened #31 "Installing Sxslt on Windows"
Obviously, the best solution is to remove Windows. :)

My general thinking on this is that it is an issue between `Sxslt` and `Windows`, which are two pieces of software that we don't control. Therefore, there's really not much we can do about these compatibility issues, other than to point people in the right direction for solving them on their own.

Please see the [official `Sxslt` documentation

[2015-05-20 12:54] davidbmitchell opened #32 "makeWAR fails with makeWARBaserunning error"
The actual error pops up after the "...Estimating Baserunning Runs Above Average..." message. The error says:

Error in makeWARBaserunning(data[br.idx, br.fields], models[["baserunning"]],  :
  could not find function "rename"

Is this a dplyr error?

I attached the package reshape to see if this resolved the error, and it at least changed it to something different. After attaching reshape the new

[2015-05-20 13:51] beanumber commented on #32
Almost certainly. Try adding

importFrom(dplyr,rename)

to the NAMESPACE file and re-building.

Could you post a reproducible example?

[2015-05-20 14:04] obarisk commented on #32
how about add
[code]
in any .R file

and then use
[code]
to generate NAMESPACE file

[2015-05-20 15:14] gjm112 commented on #32
I just came across this same error and I'm working on fixing it.
On May 20, 2015 9:04 AM, "鐘翊修" <notifications@github.com> wrote:

[2015-05-20 19:28] davidbmitchell commented on #32
I started by downloading the data from opening day to yesterday
[code]
Then I used the makeWAR function, and it failed.
[code]
Here is what was outputted in the R console:
[code]

[2015-05-20 19:32] gjm112 commented on #32
It get this exact same error
On May 20, 2015 2:28 PM, "davidbmitchell" <notifications@github.com> wrote:

[2015-05-20 19:53] davidbmitchell commented on #32
Okay I tried the solution that Obarisk has in his pull request, and it fixed the problem with makeWAR. However, a new issue has popped up in the getWAR function. When running the getWAR function I get the error: ``` Error in getReplacementPlayers.openWARPlayers(playersRepl, nteams) :
  could not find function "arrange"```

Here is my r code that I ran to test his pull request:
[code]
And after run

[2015-05-20 19:57] beanumber commented on #32
This is going to be the same issue -- you need
[code]

I think we should just import all of `dplyr` instead of just a handful of functions.

[2015-05-21 15:13] gjm112 commented on #32
This error is gone for me now with the update.  I'm closing this issue.

[2015-05-21 15:13] #32 closed

[2015-05-28 13:01] beanumber commented on #23
On Ubuntu 14.04.2 LTS, the fix for the same error is:

[code]
You probably also need:

[code]

[2015-05-28 17:36] beanumber opened #35 "remove old/deprecated functions"
For example, does `linearWeights` need to be in the package?

[2015-05-28 17:39] beanumber opened #36 "streamline placement of functions in files"
Do all the functions need to be in the same file?

[2015-05-28 17:39] beanumber opened #37 "complete documentation"

[2015-05-28 17:42] beanumber opened #38 "figure out what to do with data files"
Move bigger data sets to `openWARData` and update vignettes.

[2015-05-28 17:43] beanumber opened #39 "write vignettes"
Write the vignettes and have them compile.

[2015-05-28 17:44] beanumber opened #40 "write tests and make sure they work"

[2015-05-28 17:46] beanumber opened #41 "streamline dependencies"
Should we import all of `dplyr` or `mosaic`?

[2015-05-28 17:58] beanumber opened #42 "make shakeWAR faster"

[2015-05-28 17:58] beanumber opened #43 "make makeWAR faster and more memory efficient"

[2015-05-28 18:56] beanumber opened #44 "remove uses of library()"
Hadley sez:

`
You should never use require() or library() in a package: instead, use the Depends or Imports fields in the DESCRIPTION.
`
(http://r-pkgs.had.co.nz/namespace.html)

[2015-05-28 19:12] beanumber commented on #14
The individual fielding models should also be exportable.

[2015-05-28 20:30] hafen commented on #31
I had a lot of trouble getting it installed on os x as well.  Given the last time that package was updated and the fact that it's a very non-standard install (not CRAN or github, plus system dependencies that don't like to compile correctly all the time), I would give a +1 for finding an alternative package that does the same job and that is easy to install.  I'd argue that the possibility of havi

[2015-05-28 21:29] beanumber commented on #35
`linearWeights.R` and `exWPct.R` and `getIDMap.R` have been removed.

We still have to deal with `fieldingplot()`, which was used to draw the plots in the paper. It could be useful, but I'm not sure where it belongs.

[2015-05-28 23:24] obarisk commented on #41
Note that both packages provided "do" function,
it's better to call "do" with namespace(::).

I think it's better to use importFrom with mosaic package,
because there are not many functions come from mosaic package.

[2015-05-29 05:34] znmeb commented on #41
Mosaic is pushing towards a CRAN release and moving things around. I'm currently using their most recent GitHub release.

[2015-05-29 05:38] znmeb commented on #31
I too have pretty much punted on Windows. I'm about to release a Docker image built on Fedora 22 just so all my users have the same software. ;-)

If you want to go the Docker route you can build on "Rocker" (Debian base) or my "OSJourno" images (Fedora base). Either one will work in Boot2Docker on Windows or MacOS X or "native" in a modern Linux workstation (Ubuntu/Mint, openSUSE or Fedora, for e

[2015-05-29 14:55] beanumber commented on #41
I made all references do `do()` explicit. There were a few for `mosaic::do()` and a few for `dplyr::do()`.

Question: The warning message that says:

`
replacing previous import by ‘mosaic::do’ when loading ‘openWAR’
`
I assume this is because we import all of `dplyr`, and thus `dplyr::do`, but then also we import `mosaic::do`. Is there any way to get rid of this warning?

[2015-05-29 15:06] beanumber commented on #36
This looks pretty good with the exception of `fieldingplot()`.

Should the panel functions all be in the same file?

[2015-05-29 15:13] beanumber commented on #35
I'm keeping `fieldingplot()` for now and closing this issue.

[2015-05-29 15:13] #35 closed

[2015-05-29 16:55] beanumber commented on #44
These are gone.

[2015-05-29 16:55] #44 closed

[2015-05-29 16:55] beanumber commented on #38
I have added some stuff in `data-raw/` that will generate the raw MLBAM GameDay files and the openWAR results from those files.

[2015-05-29 18:32] beanumber commented on #29
everything in demos has been moved to `vignettes/`

[2015-05-29 18:32] #29 closed

[2015-05-29 22:07] znmeb commented on #41
You shouldn't get rid of the warning - you should change the code so it doesn't generate warnings ;-)

Seriously, though, wrap dplyr::do with your own function with a name based on what it does and mosaic::do with another of your own functions with a different name. It's a little more effort in the documentation but it will pay off when you run into problems.

[2015-05-30 00:05] beanumber commented on #41
OK, I did this. I added `mosaic.do()` to the `utils.R` file. It seems a little hacky, but it seems to work.

[2015-05-30 01:59] beanumber commented on #38
I'm still not sure what the right thing to do on this is. Consider the inclusion of Ted Turocy's IDs, the rWAR figures from baseball-reference.com, and the fWAR numbers from FanGraphs. None of these are necessary to compute openWAR or to use our package. They also take up a fair amount of space. Thus, the purists would probably argue that they belong somewhere (e.g. the `openWARData` package).

[2015-05-30 02:01] beanumber commented on #38
Consider also the full-season MLBAM data files. These are bigger (~10 MB), and I'm not sure if they are legal to distribute anyway, so they should probably not be in the package either. But it's hard to do anything interesting in the vignettes without loading these, since downloading new data every time you want to compile the vignettes is insane.

[2015-05-30 02:02] beanumber commented on #38
On the other hand, including the pre-compiled openWAR results seems like a win, since those are small, relevant to what we are doing in this package, and we can do fun things with them in the vignettes.

[2015-05-30 03:39] beanumber opened #45 "bug in results vignette when using summary.openWARPlayers"
[code]
`
Hide Traceback

 Rerun with Debug
 Error: data_frames can only contain 1d atomic vectors and lists
13 stop("data_frames can only contain 1d atomic vectors and lists",
    call. = FALSE)
12 as_data_frame(data)
11 tbl_df(.data)
10 filter_(tbl_df(.data), .dots = dots)
9 as.data.frame(filter_(tbl_df(.data), .dots = dots))
8 filter_.data.frame(.data, .dots = lazyeval::lazy_dots(...))
7 filter_

[2015-05-30 20:39] obarisk commented on #45
test this
[code]

[2015-05-30 21:01] obarisk commented on #45
In R 3.2, is it possible to store a matrix in cells of data.frame?
note that in getWAR.R
[code]
a side effect of `%*%` ?

[2015-05-31 13:19] beanumber opened #46 "replace all uses of subset() with filter()"
https://twitter.com/StatsbyLopez/status/604483757656145920

Also, transform() -> mutate()

[2015-05-31 14:10] beanumber commented on #45
This was an issue with the data frames being old. I refreshed the 2012 and 2013 data and it works now. Working on 2014 now...

[2015-05-31 14:19] beanumber opened #47 "should the package be named "openwaR" instead?"
Hadley sez:

`Avoid using both upper and lower case letters: doing so makes the package name hard to type and even harder to remember.
Add an extra R
`
http://r-pkgs.had.co.nz/package.html

[2015-05-31 14:27] beanumber commented on #38
I'm closing this issue. As of now, small data files that are essential to `openWAR` are included in the package:

[code]

Larger data files that are not essential to the package have been moved to the `openWARData` package. Note that this includes both the full `MLBAM` data and the processed `openWARPlays` data for 2012-2014.

[2015-05-31 14:27] #38 closed

[2015-05-31 14:32] beanumber commented on #45
Refreshed 2014 data and this is fixed.

[2015-05-31 14:32] #45 closed

[2015-05-31 14:59] znmeb commented on #47
I'd either stick with openWAR or switch to openwar. There's no need for the extra 'r' at the end.

[2015-05-31 21:58] gjm112 opened #48 "updateGame funtion"
Do we need this function?  Why would we need to update a game?

Does this give us something that getData doesn't?

[2015-06-01 03:42] davidbmitchell commented on #43
Using the data.table package might speed things up, but it could entail some refactoring I believe.

[2015-06-01 12:50] beanumber commented on #43
Definitely something to look into for v2.0.

[2015-06-01 13:14] beanumber commented on #48
It allows you to overwrite the data from a single game without having to re-download all of the other games. This was very useful during testing. Ideally, end users wouldn't need it. \

But let's say that you try to download an entire season's worth of data, but somewhere in the middle, your Internet connection goes out for a minute. So you end up with a full season of data, but one of the games i

[2015-06-01 15:06] gjm112 commented on #48
Oh that is useful.  Leave it in.
On Jun 1, 2015 9:14 AM, "Ben Baumer" <notifications@github.com> wrote:

[2015-06-01 15:25] #46 closed

[2015-06-01 16:39] beanumber opened #49 "Double-check that RAA adds up at a team level"
This is worth thinking about:

https://twitter.com/tangotiger/status/605172517553082368

I think that `RAA` will add up, across categories, for each team, but it's worth double-checking.

The way to do this would be to re-write `getRAA()` so that you can group at the team level. Or better yet, have `getRAA()` accept an argument that would be passed to `dplyr::group_by()`. This would actually be pr

[2015-06-01 18:32] beanumber commented on #43
IIRC, one of the things that makes this slow is `getModelFieldingCollective()`, where we use the 2D kernel smoother `KernSmooth::bkde2D()`. For some reason the developers do not supply a `predict.bkde2D()` method, and so we had to implement a hack. The hack is slow because it involves `Hmisc::whichClosest()`.

The fitting of the `bkde2D()` model is fine -- it's the looking up of the predicted valu

[2015-06-02 02:06] znmeb opened #50 "Vignette build failure"
[code]

I'll go poking in the source and do a pull request if I find this before you do. ;-)

[2015-06-02 02:19] znmeb commented on #50
Well ... in `/R/openWARPlayers.R`:

[code]

Do you need to import `densityplot` from a library package? I couldn't find it defined anywhere. There's a `densityPlot` (capital "P") in `car`.

[2015-06-02 12:19] beanumber opened #51 "why isn't tabulate a generic?"
[code]
[code]
Why isn't `tabulate()` a generic S3 method like `plot()` and `summary()`? Do I need to add `setGeneric()` or something?

[2015-06-02 12:54] beanumber commented on #41
Should we import all of `lattice`? There are a number of dependencies now, and since it is a drawing library, someone might want to add options that we haven't used.

[2015-06-02 12:58] beanumber opened #52 "we don't pass R CMD check"
We have a number of issues here:

[code]

[2015-06-02 13:07] beanumber commented on #52
I fixed the data file compression issue.

[2015-06-03 17:51] beanumber commented on #50
I believe this is fixed.

[2015-06-03 17:51] #50 closed

[2015-06-04 02:54] davidbmitchell commented on #52
A lot of the ```NOTE``` issues are caused by the dplyr syntax. For example the note ```getRAA.openWARPlays: no visible binding for global variable ‘batterId’ ``` is caused by the following code fragment:
[code]
Apparently this is really common when using dplyr in a package because of its nonstandard evaluation. This stack overflow thread sort of explained it but not really.
http://stackoverflow.co

[2015-06-04 03:56] davidbmitchell commented on #51
If I'm not mistaken it is because of this
[code]
You are overriding the ```base::tabulate()```. Looking through the openWAR code there is nothing like that for ```plot()``` or ```summary()```.  So when you define the method ```tabulate.GameDayPlays```, it is a method of the generic ```openWAR::tabulate()``` not ```base::tabulate()```.

[2015-06-05 14:12] beanumber commented on #51
But unlike `plot()` and `summary()`, `tabulate()` is not a generic function. So how do you make it an S3 generic without overriding `base::tabulate()`?

[2015-06-05 15:07] #48 closed

[2015-06-05 16:31] beanumber commented on #52
Having
[code]
in the examples in a few places is making this really slow. Maybe we can include
[code]
as an additional data set and just reference that.

[2015-06-05 17:12] beanumber commented on #52
OK, I think I understand about `mutate_()`. I will make some of these changes, but we now pass the R CMD check!

[2015-06-05 18:14] gjm112 opened #54 "Documentation for data.R"
Do it.

[2015-06-05 18:14] gjm112 opened #55 "documentation for fieldingplot.R"

[2015-06-05 18:14] gjm112 opened #56 "Documentation for gameday.R"

[2015-06-05 18:15] gjm112 opened #57 "documentation for gamedayplays.R"

[2015-06-05 18:15] gjm112 opened #58 "Documentation for getData.R"

[2015-06-05 18:15] gjm112 opened #59 "Documentation for getModels.R"

[2015-06-05 18:15] gjm112 opened #60 "Documentation for getRunEx.R"

[2015-06-05 18:15] gjm112 opened #61 "Documentation for getWAR.R"

[2015-06-05 18:16] gjm112 opened #62 "Documentation for makeWar.R"

[2015-06-05 18:16] gjm112 opened #63 "Documentation for openWARPlayers.R"

[2015-06-05 18:16] gjm112 opened #64 "Documentation for openwarplays.R"

[2015-06-05 18:16] gjm112 opened #65 "Documentation for replacement.R"

[2015-06-05 18:17] gjm112 opened #66 "Documentation for shakewar.R"

[2015-06-05 18:17] gjm112 opened #67 "Documentation for gamedayplaysExt.R"

[2015-06-05 18:17] gjm112 opened #68 "documentation for utils.R"

[2015-06-05 18:17] gjm112 opened #69 "Documentation for openWAR-package.R"

[2015-06-05 18:31] gjm112 commented on #54
Do you know what the variable "actionID" is?

[2015-06-05 18:52] gjm112 commented on #54
"RunsITD"?  is this the number of runs that have already been scored in the half of the inning?

[2015-06-05 19:01] gjm112 commented on #54
Ben can you remind me how we defined our x and y coordinates?  and how MLBAM defines theirs.

[2015-06-08 01:40] pssguy commented on #31
"That being said, I'll concede that if a huge proportion of the people who want to run our package can't install it, then this is a problem for us."

I'm a 100%  Windows user. The other installation suggestion also failed

" The fact that this doesn't work seamlessly on Windows is (in my view) a bug in Windows."

Hopefully, you have submitted a bug report and they have dropped everything else to s

[2015-06-08 15:09] beanumber commented on #31
That would be nice! It's bug from my point-of-view, but from theirs, it's a feature!

But seriously, we'll look into more cross-platform friendly alternatives for the next version.

[2015-06-08 19:13] znmeb commented on #31
I have a Docker image build in the works that will include openWAR and its dependencies. It should work via Boot2Docker on Windows or Mac or via normal Docker on Linux or "in the cloud". ETA mid-day Pacific Time tomorrow.

[2015-06-09 16:47] davidbmitchell opened #70 "getData() is returning data.frame of 0 observations"
After running the following code, the function returned a data.frame that was 8.5mb but had 0 observations.
[code]
It printed out the gameIds like it normally does, and you couldn't tell something was wrong until you try to run the ```makeWAR``` function.
[code]
Could this be caused by the refactoring of dplyr's NSE?

[2015-06-09 16:54] gjm112 commented on #70
I'm going to try to reproduce this.

On Tue, Jun 9, 2015 at 11:47 AM, David B. Mitchell <notifications@github.com

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <http:

[2015-06-09 16:59] gjm112 commented on #70
I get the same thing.  This is a big problem.  I will try to fix this now.

[2015-06-09 17:03] gjm112 commented on #70
Line 47 is where is breaks.

[2015-06-09 17:06] davidbmitchell commented on #70
I see where that could break it. How do we fix it. Can we just change it to:
[code]
dplyr's NSE and SE confuses me big time.

[2015-06-09 17:10] davidbmitchell commented on #70
After making the above change, I do believe that fixes it. I just tried and it works again. I ran:
[code]
and it returned a ```data.frame``` of 1581 obs.

[2015-06-09 17:14] gjm112 commented on #70
I just pushed a fix.  Can you try pulling and see if it works.

Why do we need the ~ in front of game_type?

[2015-06-09 17:15] gjm112 commented on #70
And what is the difference between filter and filter_???

[2015-06-09 17:18] gjm112 commented on #70
Looks like Ben made this change to get the package to pass R CMD check.

Will my fix not work?  Is yours better?

On Tue, Jun 9, 2015 at 12:10 PM, David B. Mitchell <notifications@github.com

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @Stats

[2015-06-09 17:23] davidbmitchell commented on #70
It will, I made mine before I was aware that you were working on one as well. The only difference with mine is when running ```R CMD CHECK``` it won't fuss about global variable bindings. The difference between ```filter``` and ```filter_``` is that ```filter``` uses dplyr's non standard evaluation syntax and causes ```R CMD CHECK``` to throw up a note. Using ```filter_``` is the standard evaluati

[2015-06-09 17:24] davidbmitchell commented on #70
See issue #52 where I add some links that provide more explanation regarding the differences.

[2015-06-09 17:31] gjm112 commented on #70
So you are saying that your changes are better than mine?  I will accept
your changes then because we want to pass R CMD check.

On Tue, Jun 9, 2015 at 12:24 PM, David B. Mitchell <notifications@github.com

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9

[2015-06-09 17:33] gjm112 commented on #70
How do I accept your changes?

On Tue, Jun 9, 2015 at 12:31 PM, Gregory Matthews <gjm112@gmail.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <http://www.t

[2015-06-09 17:34] davidbmitchell commented on #70
That's what I'm not sure about because there is a merge conflict.

[2015-06-09 17:37] gjm112 commented on #70
I made your change in my code and then pushed it to github.  (I gave you credit in the commit note.)

[2015-06-09 17:38] gjm112 commented on #70
Thanks for alerting us to this by the way.  We keep breaking this thing.

[2015-06-09 17:40] davidbmitchell commented on #70
Its all good, I am happy to help. I absolutely love this project. We keep on breaking it because it's not mature yet, but it is getting there. We're learning more and more, so I think its beneficial to the project in the long run.

[2015-06-09 18:30] gjm112 commented on #70
We appreciate all the help we can get.

On Tue, Jun 9, 2015 at 12:40 PM, David B. Mitchell <notifications@github.com

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <ht

[2015-06-09 19:54] beanumber commented on #70
This is fixed now, right?

Here is my best understanding of what happened. It all has to do with non-standard evaluation and @hadley's use of it in `dplyr`.

What we used to have was:

[code]
This works, but makes use of [non-standard evaluation](http://cran.r-project.org/web/packages/dplyr/vignettes/nse.html). The question is how does `filter()` know that `game_type` is a column in the `out` data

[2015-06-09 19:54] #70 closed

[2015-06-10 00:24] znmeb commented on #38
@beanumber Did you ever come to a conclusion on the "legality" of redistributing the data? I'm in the final throes of releasing a Docker image with openWAR in it and I want to know if the IP folks at MLB are likely to come after me. They'll probably leave you alone - fair use and academia and all that - but hope is not a strategy, as they say. ;-)

[2015-06-10 00:57] davidbmitchell commented on #38
Here is the copyright information: http://gdx.mlb.com/components/copyright.txt
and if you don't feel like clicking a link:
[code]

[2015-06-10 01:23] davidbmitchell commented on #70
Your explanation really helped me wrap my head around NSE and SE a lot better, and what was occurring in general. Pull request #72 has changes to many functions fixing the dplyr syntax for ```R CMD CHECK```.

[2015-06-10 03:01] znmeb commented on #38
@davidbmitchell Thanks!!

[2015-06-10 12:48] beanumber commented on #36
Would it be better to have `plot.R` be a file that contained all of the `plot()` methods? That is, instead of having the functions belong to a file specific to a class (which is normal in OOP), should the functions belong to a method (which is how S3 is designed)?

[2015-06-10 12:49] beanumber commented on #51
I still don't understand this.

[2015-06-10 12:51] beanumber opened #73 "Are we doing the right thing with S3 methods?"
[code]

[2015-06-10 12:52] beanumber commented on #73
Not coincidentally:

[code]

[2015-06-10 12:55] beanumber commented on #52
[code]
??

[2015-06-10 12:55] davidbmitchell commented on #51
I think as long as we use the name ```tabulate```, it's going to override ```base::tabulate()```. I don't think there's any way around it except for changing the name of the function.

[2015-06-10 13:05] davidbmitchell commented on #52
So I ran ```codetools::checkUsagePackage("openWAR")``` and that is not showing up, but it is weird that it shows on ```R CMD CHECK```. I don't even see where ```x``` is at in ```panel.baseball```. Am I overlooking that variable in the function?

[2015-06-10 13:06] beanumber commented on #52
The only place I see it is in `panel.curve()`. But I don't see what's wrong with the way it is being used.

[2015-06-10 13:07] davidbmitchell commented on #52
Actually I just found it, but yeah I don't either. I'm going to fire up my google skills.

[2015-06-10 13:13] beanumber commented on #47
OK, sounds good!

[2015-06-10 13:13] #47 closed

[2015-06-10 13:30] davidbmitchell commented on #52
After searching around I added this to the top of the function ```x <- NULL``` and it plotted as it did before. After rerunning ```R CMD CHECK``` that NOTE is now gone. I ran ```panel.baseball()``` before and after I made the change, and both times it plotted half the field, is that right?

[2015-06-10 13:33] beanumber commented on #52
which half? That doesn't sound right.

[2015-06-10 13:34] davidbmitchell commented on #52
It would be left field foul line to center field

[2015-06-10 13:38] davidbmitchell commented on #52
I think the problem is on line 35 in
[code]
I'm unfamiliar with the ```lattice``` package so I could be wrong.

[2015-06-10 13:58] beanumber commented on #52
After b54d8eb we are down to 2 WARNINGs and 3 NOTEs.

* 1 WARNING and 1 NOTE are about the S3 methods (issue #73)
* The other WARNING is about documentation (issue #37)
* one note is about the size -- we are up to 5.7 Mb and CRAN wants it to be under 5.0 Mb
* the last NOTE is about this. The stragglers:
[code]
* the first one is the one we are discussing above
* the last two seem to be related to

[2015-06-10 16:32] beanumber opened #74 "should fieldingplot be included in this version?"
It's currently not exported, and there is no way for an end user to use it. It *would* be useful to have, but we'd have to build out a way to export the individual fielding models (which we should do anyway).

[2015-06-10 16:35] beanumber commented on #38
@znmeb I guess it depends on your interpretation of "bulk". The full-season data sets have all been moved to the `openWARData` package, so you would probably not want to include that in your image. On the other hand `openWAR` only contains small amounts of data from MLBAM, so I hope that is OK.

I never did get clarity on this issue.

[2015-06-10 17:14] beanumber commented on #52
The WARNING about the documentation is fixed as of c190ed3.

[2015-06-10 17:59] gjm112 commented on #56
This documentation looks complete to me.

[2015-06-10 17:59] #56 closed

[2015-06-10 18:26] znmeb commented on #38
@beanumber I dropped openWARData - I don't need it for my use case, which involves a 60 megabit per second download link. ;-)

[2015-06-10 21:11] gjm112 commented on #60
Completed.

[2015-06-10 21:11] #60 closed

[2015-06-10 21:51] znmeb opened #75 "Typo in the paper?"
I didn't see a place on Arxiv to comment on the paper so I'll do it here. ;-)

http://arxiv.org/pdf/1312.7158v3.pdf, page 11:

"Using the convention that approximately 10 wins are equivalent to one win"

Shouldn't that be 10 runs?

[2015-06-11 12:41] beanumber commented on #75
Yes, good catch! Unfortunately, this typo made it into the JQAS paper as well. :(

[2015-06-12 08:21] znmeb opened #76 "Enhancement suggestion - add an mlbam ID column to all by-player results"
I'm now at the point where I want to join openWAR results with other data. I found the 'idTT' table in openWARData, but rather than mess around with 'fuzzy joins' I'd like to just add player name columns to that table for various other datasets and index everything by mlbam ID.

I can probably figure out from the code how to do this if you can't get to it in this round of changes. Right now the ta

[2015-06-13 14:54] beanumber commented on #76
Great idea. We will add this!

[2015-06-13 17:06] beanumber commented on #76
Just added this to 7e53e60
[code]
Does that do the trick?

[2015-06-13 17:15] znmeb commented on #76
Looks good - I can't test it at the moment. I ran a 5000-sample shakeWAR over 2015 to date last night and it's still saving the output file as .rdata ;-)

[2015-06-14 04:36] znmeb commented on #75
Another one (page 4):

"Here, we illustrate that the expected run matrix —a common sabermetric construction dating back to the work of Lindsey (1959, 1961)—can be used to model th1ese quantities."

th1ese

[2015-06-14 06:18] znmeb commented on #76
OK - it's working! Thanks!

One more enhancement - let shakeWAR work from an output of makeWAR if you just want to resample the plays. On my workstation for 2015 to date makeWAR runs about 1.3 minutes and each resample runs about 0.03 minutes.

When you wrote the paper, did you just resample on plays or did you resample on the models too? If I have a spare overnight I might try eight hours worth o

[2015-06-15 18:57] gjm112 commented on #76
We re-sampled both plays and models.

On Sun, Jun 14, 2015 at 1:18 AM, M. Edward (Ed) Borasky <
notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @St

[2015-06-16 03:10] znmeb commented on #76
@gjm112 Well then, I'll try that tonight. I just paid the power bill. ;-)

[2015-06-16 03:37] gjm112 commented on #76
it is really slow.  And the variance in the models is dwarfed by the
variance in resampling the plays.

On Mon, Jun 15, 2015 at 10:10 PM, M. Edward (Ed) Borasky <
notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @

[2015-06-16 04:25] znmeb commented on #76
I ran 4096 resamples of plays only for 2015 to date the other night. It ran about three hours (4 GHz CPU, 32 GB of RAM, probably single-threaded)

[2015-06-17 18:02] beanumber commented on #76
@znmeb , I've added the following methods in c096eda6:
[code]
I think this achieves the functionality that you're looking for. Good suggestion!
We'll have to defer the speed issue until the next release. Note this is a duplicate of #42 .

[2015-06-17 18:02] #76 closed

[2015-06-17 18:03] beanumber commented on #73
As of c096eda6 `shakeWAR` is a proper S3 method.

[2015-06-17 18:43] beanumber commented on #73
As of e8d23b89 `getWAR` is now a proper S3 generic with methods:
[code]

[2015-06-17 18:52] beanumber commented on #42
Note that a call to `shakeWAR` with `n` resamples results in `getRAA` being called `2n+2` times.

[code]
The `2n` is because each call to `getWAR` calls `getRAA` twice: once for the replacement-level players and once for all of the players. [Is this necessary?]

Where do the extra 2 calls to `getRAA` come from?

[2015-06-17 19:03] beanumber opened #77 "getWAR() seems inefficient"
This code will be faster with `dplyr`, and the logic looks inefficient to me, especially for the case where `dataRepl` is null.

[2015-06-17 19:30] gjm112 commented on #42
If the replacement data and the current year data are different, I think
you will have to call getRAA twice.  If the current data is used for both
calculation and carbonising of replacement it should only call it once.
On Jun 17, 2015 1:52 PM, "Ben Baumer" <notifications@github.com> wrote:

[2015-06-17 19:32] gjm112 commented on #77
Probably true.  I made this fix mainly so we could calculate current
openWAR.  I didn't think much about it and it could definitely be improved
in terms of efficiency.
On Jun 17, 2015 2:03 PM, "Ben Baumer" <notifications@github.com> wrote:

[2015-06-17 22:08] gjm112 commented on #77
I hopefully addressed the problem of inefficiency when dataRepl is NULL.  getRAA will only be called once in this case (as opposed to twice before).

[2015-06-17 22:10] gjm112 commented on #77
This is the commit that addresses this: https://github.com/beanumber/openWAR/commit/206afdc36e0061e678f537e0e70e311726dd429c

[2015-06-17 22:15] gjm112 opened #78 "getWAR and nteams = 27.5"
In the examples for getWAR, there is an example with nteams=27.5.   How should we explain this?

[2015-06-17 22:23] gjm112 opened #79 "batterId vs playerID in "openWARPlayers""
Do we need the column batterID in the an "openWARPlayers" object?  We already have playerID.  Is this redundant or is there a reason to keep it?

I think we can get rid of it.

[2015-06-17 23:03] gjm112 commented on #61
I'm closing this.

[2015-06-17 23:03] #61 closed

[2015-06-17 23:04] znmeb commented on #79
It is confusing to have two IDs for the same person. I say get rid of it.

[2015-06-17 23:05] gjm112 commented on #63
I'm closing this.

[2015-06-17 23:05] #63 closed

[2015-06-22 16:24] beanumber commented on #78
The issue is that the other WAR systems set the replacement level so that the total WAR in the league sums to roughly 1000 wins. Our construction of replacement level is fundamentally different.

However, through trial-and-error, if you set the number of teams to 27.5, then you designate fewer replacement level players, and the mean replacement performance improves (?), and thus the total `openWAR

[2015-06-22 17:43] #77 closed

[2015-06-22 17:49] #79 closed

[2015-06-22 18:31] beanumber commented on #73
The trick here is to add `@method` tags to the documentation of each method, so that the NAMESPACE file registers these function as S3 methods.

[2015-06-22 18:44] beanumber opened #80 "do we need GameDayPlaysExt?"
I don't think we ever really use this. It is one of the slots in the output of `makeWAR()`, but it is suppressed the `low.memory` flag, which is turned on by default.

[2015-06-22 18:47] #73 closed

[2015-06-22 18:48] beanumber commented on #52
As of 8e08a46 we are down to the following two NOTEs:
[code]
[code]

[2015-06-22 19:32] beanumber commented on #52
* checking R code for possible problems ... OK

[2015-06-22 19:35] #52 closed

[2015-06-22 19:36] beanumber commented on #51
Adding `@method` to the documentation for `tabulate.GameDayPlays` made this an S3 generic.

[2015-06-22 19:37] beanumber commented on #41
I'm closing this. We can revisit this for the next version.

[2015-06-22 19:37] #41 closed

[2015-06-22 19:37] beanumber commented on #36
I still like the idea of moving things around, but it's not a pressing issue.

[2015-06-22 22:30] davidbmitchell opened #81 "makeWAR fails with UseMethod error"
I try to run ```makeWAR()``` and it fails with a ```useMethod``` error.

[code]
Could it be related to changes made in commit c096eda6f270fa934610e6a2946d29c19526c0eb from 5 days ago?

[2015-06-22 23:18] davidbmitchell commented on #81
Okay so I tried rerunning ```makeWAR()``` with the ```MLBAM2015``` data from the ```openWARData``` package, and it worked fine.

Here is what I ran originally:
[code]
I just reran a version of the above code and it worked again fine. I'm going to run the full thing one more time to see if the error comes up again. I don't have a clue what happened.

[2015-06-23 00:25] davidbmitchell commented on #81
I tried ```MLBAM2015 <- getData(start="2015-04-05", end="2015-06-21")``` again, and the ```useMethod``` occurred this time as well.

As far as I can tell there are differences in the classes from the ```MLBAM2015``` I downloaded and the ```MLBAM2015``` from ```openWARData```.

The ```MLBAM2015``` I downloaded from above:
[code]
And the ```MLBAM2015``` from ```openWARData```
[code]

[2015-06-23 01:49] davidbmitchell commented on #81
I found where the issue arises. It is in the ```getData()``` function. In commit c096eda6f270fa934610e6a2946d29c19526c0eb only one line was changed in the ```getData()``` function. On Line 59 it was originally:
[code]
Then it was changed to:
[code]
Because we are using ```dplyr``` functions, these classes: ```c(""grouped_df", "tbl_df", "tbl")``` are being added to the classes of the ```out``` obje

[2015-06-23 14:56] #81 closed

[2015-06-23 14:57] beanumber commented on #81
I think the problem was actually created by 8e08a46a when I created all of the S3 methods. It should be fixed now.

[2015-06-23 15:27] beanumber commented on #43
Assume that `data` is a `data.frame` with hundreds of thousands of rows and 50 or so columns. Which is faster? Which is more memory efficient?

[code]
vs.
[code]
??
In general, how does R make copies of data frames for passing through functions?

[2015-06-23 15:39] #55 closed

[2015-06-23 15:45] #69 closed

[2015-06-23 15:48] beanumber opened #82 "vignettes not found?"
[code]

Why not?

[2015-06-23 16:13] gjm112 commented on #82
Is that only looking at vignettes for packages that are already on CRAN?

On Tue, Jun 23, 2015 at 10:48 AM, Ben Baumer <notifications@github.com>
wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/Stat

[2015-06-23 16:28] gjm112 commented on #82
If you do vignette("intro") it works.  We probably need more intuitive names for the vignettes.  like vignette("openWAR") maybe?

[2015-06-23 19:42] gjm112 commented on #58
Complete.

[2015-06-23 19:42] #58 closed

[2015-06-23 19:45] gjm112 commented on #68
Do we still need this function???

[2015-06-23 19:46] gjm112 commented on #67
Looks good to me.

[2015-06-23 19:46] #67 closed

[2015-06-23 19:47] gjm112 commented on #80
I was just looking at the documentation for this and, while the documentation looks fine, I agree with you in that I don't we use this very often (if at all?).

[2015-06-23 19:53] gjm112 commented on #57
I get this warning when using the example plot(May, event = c("Single","Home Run"), pch = 16)

 draw.key(simpleKey(...), draw = FALSE) : not enough rows for columns

Any thoughts?

[2015-06-23 20:34] gjm112 commented on #64
Done.

[2015-06-23 20:34] #64 closed

[2015-06-23 20:44] gjm112 opened #83 "replacement-level OR replacement level?"
Do we want a hyphen between replacement and level?

[2015-06-23 20:47] gjm112 commented on #65
Done.

[2015-06-23 20:47] #65 closed

[2015-06-23 20:50] znmeb commented on #43
My impression is that once you rewrite everything from "native R" to dplyr, all kinds of efficiencies magically appear via Rcpp and relentless optimizations of the dplyr engineers. So I'd say

res <- dplyr::select %>% myfun

[2015-06-23 23:59] beanumber commented on #43
Yeah, but what I'm interested in is the copying of objects. That is, does the object `data` get copied in the first case, but only a smaller object get copied in the second case? If so, does the latter have a smaller memory footprint?

[2015-06-24 04:50] znmeb commented on #43
That should be easy to benchmark / profile. But you also have to monitor the garbage collector. :-(
IMHO if you've converted to dplyr everything else is premature optimization. But I haven't tested any of it.
I'm tied up this week but I could do some performance testing next week.

[2015-06-24 18:42] beanumber commented on #57
In `plot.GameDayPlays()`, we have the line:
[code]
If there are fewer than 4 outcomes, then it will generate this error. I'll fix it.

[2015-06-24 18:48] #57 closed

[2015-06-24 18:51] beanumber commented on #68
Well, we use it, so yes. But, I'm not sure if this is the right way to solve this problem. The function
[code]
is a hack based on the suggestion from @znmeb . See Issue #41.

[2015-06-24 18:51] #68 closed

[2015-06-24 18:53] beanumber commented on #83
In the JQAS paper we seem to favor "replacement-level", so let's stick with that.

[2015-06-24 18:53] #83 closed

[2015-06-24 18:56] beanumber commented on #83
More precisely, we speak of "the replacement level", but refer to "replacement-level" players.

[2015-06-24 19:00] beanumber commented on #82
That doesn't seem to be the issue, since it is supposed to work like:

[code]
Also, when you go to the openWAR index page in the help menu, it doesn't like the vignettes. Somehow they are not registered.

[2015-06-24 19:06] beanumber commented on #80
Let's leave it for now. We could do something with this later, or we could remove it.

[2015-06-24 19:06] #80 closed

[2015-06-24 19:06] #78 closed

[2015-06-24 19:07] beanumber commented on #75
Thanks for sending these. Please keep sending them, but I'm closing this issue.

[2015-06-24 19:07] #75 closed

[2015-06-24 19:12] gjm112 commented on #82
But If you do vignette("openWAR") it works.
On Jun 24, 2015 2:00 PM, "Ben Baumer" <notifications@github.com> wrote:

[2015-06-24 19:15] beanumber commented on #54
`actionId` seems to be related to when substitutions get made, but it also is `NA` everywhere. This is a little disconcerting. If it's not a bug, then we should drop the column, but I'm not convinced yet.

[2015-06-24 19:16] beanumber commented on #54
`runsITD` is runs inning-to-date, so yes, you've got it right.

[2015-06-24 19:18] beanumber commented on #54
Look at `recenter()`. MLBAM defines their coordinates in terms of the stadium image file, where (0,0) is in the upper-right hand corner of the image. Our coordinates are defined in so that (0,0) is at home plate.

[2015-06-24 19:28] gjm112 commented on #54
Thanks
On Jun 24, 2015 2:18 PM, "Ben Baumer" <notifications@github.com> wrote:

[2015-06-24 23:07] rpruim commented on #43
The high level answer is the R is lazy about copying.  If you don't change an object, no copying is done.  When there are two names for an object, each knows it is not the only name and if a change is made to an object that has other names, that is when the copying happens.

So

[code]
Figuring out exactly when copying happens and how that affects our code isn't entirely trivial -- it depends on h

[2015-06-28 17:23] beanumber opened #84 "fix generics"
From @rpruim:

[code]

[2015-06-28 17:28] beanumber commented on #84
[code]

[2015-06-28 19:09] #54 closed

[2015-06-29 06:32] znmeb opened #85 "Another vignette build failure"
[code]

[2015-06-29 23:52] beanumber commented on #85
OK, I broke this, but I'm not sure what happened here. Note that:

[code]
However, if you then say:
[code]
you get the error. The crazy part is that even though we didn't do anything to the `May14` object, somehow we changed it's class so that it is no longer a `GameDayPlays` object. Thus, the `plot()` method that is throwing the error is not `plot.GameDayPlays()`.

This seems like a bug in `dplyr

[2015-06-29 23:55] beanumber commented on #85
In the meantime I added: `data(May14)` to the vignette, but I'd still like to understand this.

[2015-07-01 03:21] gjm112 commented on #62
Completed.

[2015-07-01 03:21] #62 closed

[2015-07-08 17:38] beanumber commented on #31
This is a potential alternative to `Sxslt`, but it sounds like it still has similar external dependencies, so I'm not sure that it solves anything for Windows users.

https://github.com/hrbrmstr/xslt

[2015-07-09 01:58] znmeb commented on #31
How hard would it be for you to replace the GameDay Sxslt functionality with the code from pitchRx? It also has the advantage of using SQLite or MySQL to maintain the data!

[2015-07-17 19:03] beanumber commented on #51
This will break `base::tabulate()` so I think we should just rename this function.
What if `tabulate.GameDayPlays()" becomes `summary.GameDayPlays()`? Is that going to screw anybody up?

[2015-07-17 19:04] beanumber commented on #85
I think this is because `grouped_df` crept into the class attribute of `May14`. I will remove it.

[2015-07-17 19:18] gjm112 commented on #66
I can't get the examples to work.  R is telling me it can't find the function mosaic.do.  I also can't find it mentioned anywhere.

[2015-07-17 19:45] #85 closed

[2015-07-17 20:01] #84 closed

[2015-07-18 04:18] beanumber commented on #41
As of 8ba4c99 we are importing all of `lattice`.

[2015-07-18 04:19] beanumber commented on #66
See #41

[2015-07-18 04:59] #66 closed

[2015-07-30 20:34] beanumber commented on #74
I still need to work on these, but as of e2794d4a they are usable and should stay.

[2015-07-30 20:34] #74 closed

[2015-07-30 20:34] #59 closed

[2015-07-30 20:36] beanumber commented on #43
The revision to `getModelFieldingCollective()` in e2794d4a made this part of the process MUCH faster!

I was doing a dumb lookup, but there was an easier way.

[2015-07-30 20:38] beanumber commented on #43
FYI, I wrote the `predict.bkde2D()`. And it wasn't `Hmisc::whichClosest()` that was slow, it was the line of code after that that was slow.

[2015-07-31 13:23] #37 closed

[2015-07-31 13:25] beanumber opened #86 "add Travis checking"
http://r-pkgs.had.co.nz/check.html#travis

[2015-07-31 16:54] beanumber opened #87 "fix @titles"
The @title field in the documentation usually doesn't say what it should:

http://r-pkgs.had.co.nz/man.html#roxygen-comments

* The first sentence becomes the title of the documentation. That’s what you see when you look at help(package = mypackage) and is shown at the top of each help file. It should fit on one line, be written in sentence case, and end in a full stop.

* The second paragraph is

[2015-07-31 17:01] #51 closed

[2015-07-31 17:01] #40 closed

[2015-07-31 17:01] #36 closed

[2015-07-31 17:03] beanumber commented on #86
We fail because of `Sxslt`. I wonder if this means we won't pass a CRAN check...

[2015-07-31 18:15] beanumber commented on #86
As of 9b230a75 we pass!!

[2015-07-31 18:15] #86 closed

[2015-07-31 18:15] gjm112 commented on #87
Done.

[2015-07-31 18:15] #87 closed

[2015-09-14 21:52] znmeb opened #88 "Error in linbin2D(x, gpoints1, gpoints2) : NA/NaN/Inf in foreign function call (arg 1)"
[code]

Data current for 2015 through 2015-09-13

[2015-09-14 23:08] beanumber commented on #88
Did you get this error yesterday? It looks like it might be a bad data encoding error. Can you try it on just the data from yesterday and see if you can isolate the offending game?

[2015-09-14 23:52] gjm112 commented on #88
Rob Arthur also got this exact error yesterday.  My initial thought was bad
data.
On Sep 14, 2015 6:08 PM, "Ben Baumer" <notifications@github.com> wrote:

[2015-09-16 22:12] znmeb commented on #88
@beanumber @gjm112 I haven't had a chance to troubleshoot this yet - I think the data that's triggering this is after 9/10/2015 but I don't remember exactly when I last ran it.

Sometime over the weekend I can install a local copy, run the code with the RStudio debugger and see where it's hitting the error. I need to learn how to run the debugger rather than just put print statements in the code.

[2015-09-20 18:21] znmeb commented on #88
I now have two days that work bracketing a day that fails:
[code]

[2015-09-20 18:26] znmeb commented on #88
[code]

[2015-09-21 01:49] #88 closed

[2015-09-21 01:49] beanumber commented on #88
As I suspected, there was a play with NA's in the (x,y) locations.

[2015-09-21 03:58] znmeb commented on #88
@beanumber What's the fix - ignore just the play?

[2015-09-29 16:23] beanumber opened #89 "add a way to retrieve the run expectancy model as a matrix"

[2015-09-29 16:30] #89 closed

[2015-10-11 04:15] cpsievert commented on #82
`devtools::install_github()` calls `devtools::install()` which has a default of `build_vignettes = FALSE`, so this will fix the problem

[code]

[2015-10-11 04:23] #19 closed

[2016-01-05 19:48] beanumber commented on #82
I am still seeing this behavior even after checking the box @cpsievert mentioned.
[code]

[2016-01-05 19:51] beanumber commented on #39
see #82

[2016-01-05 19:51] #39 closed

[2016-01-05 19:52] beanumber commented on #43
I'm closing this -- we can revisit for version 2.0

[2016-01-05 19:52] #43 closed

[2016-01-05 19:56] beanumber opened #90 "explore use of RGameDay backend"
All of the MLBAM scraping code doesn't really belong in `openWAR`. It belongs in [RGameDay](https://github.com/beanumber/RGameDay).

The `pitchRx`-like database functionality is also a must have. I think this can be achieved with @cpsievert's help and the [`etl`](https://github.com/beanumber/etl) package.

[2016-01-05 19:56] beanumber commented on #20
Not sure if this is still relevant. @gjm112 can you check and then close?

[2016-01-05 19:57] beanumber commented on #18
See #90

[2016-01-05 19:57] #18 closed

[2016-01-05 20:00] beanumber commented on #16
I'm not sure how possible this is. Does someone else want to take this on?

To be clear, the goal would be to write a function like:
[code]
that would compute `fWAR`.

The collection of pre-computed WAR totals has been moved to [`openWARData`](https://github.com/beanumber/openWARData)

[2016-01-05 20:00] #16 closed

[2016-01-05 20:00] beanumber commented on #15
We have some of this functionality now, but it is not complete.

[2016-01-05 20:01] #14 closed

[2016-01-05 20:01] beanumber commented on #7
Is this still true?

[2016-01-05 20:05] beanumber commented on #6
[code]

[2016-01-05 20:34] beanumber opened #91 "remove Suggests for openWARData to pass CRAN check"

[2016-01-05 20:40] beanumber commented on #91
move `crosscheck` function back into `openWAR` and remove `openWAR` dependency from `openWARData`?

[2016-01-05 21:12] beanumber opened #92 "fix fielding model bug"
https://github.com/beanumber/openWAR/blob/master/R/makeWAR.R#L363

Should be conditional upon play being made.

[2016-01-05 21:13] beanumber opened #93 "Does Chuck Knoblauch get credit for throwing the ball away if the runners later get thrown out?"
Probably, but not sure how often this happens.

[2016-01-05 21:14] beanumber opened #94 "are we doing positional adjustments right?"

[2016-01-05 21:30] beanumber commented on #94
The [offending line](https://github.com/beanumber/openWAR/blob/master/R/getModels.R#L152)
[code]
Could we make an option to have this as a null model and then add it in somewhere else?

[2016-01-05 21:35] beanumber opened #95 "replacement level robustness"
Are the replacement levels robust? Can the robustness of these estimates be improved with data from multiple seasons?

[2016-01-05 22:12] beanumber opened #96 "perpare JSS paper"
JSS prefers to publish papers about packages where the package is on CRAN and has been there long enough to have matured (i.e., obvious bugs ironed out and a few active users). This is partly because we have so many submissions that it helps to filter some out and this approach provides some basic quality checks. So I suggest you begin by developing the package for CRAN. This is a preference rathe

[2016-01-06 01:16] #91 closed

[2016-01-06 01:35] beanumber opened #97 "GameDayPlays vs. GameDayPlays-class in documentation"
Why do we have both? Can we get rid of one of them?

Do we need to use `setClass()` since we are using S3 classes?

[2016-01-06 02:11] #92 closed

[2016-01-06 03:20] beanumber commented on #82
Ohhhh...I get it. The problem is on my end. You have to
[code]
But then if users don't use the `build_vignettes = TRUE` option, how will they see them?

[2016-01-06 03:20] #82 closed

[2016-01-06 03:46] #6 closed

[2016-01-06 03:48] beanumber commented on #20
Indeed these are still present:
[code]

[2016-02-02 16:40] beanumber opened #98 "Use ggalt::bin2kde() for kernel density plots"
(https://github.com/hrbrmstr/ggalt)

[2016-02-05 16:50] MartnAR opened #99 "Incompatible with R 3.2.3 Wooden Christmas-Tree"
Installed openWAR package on R 3.2.2 but when upgraded to R 3.2.3, openWAR becomes incompatible. Will there be any update on this issue?

[2016-02-05 16:52] beanumber commented on #99
Yes, this seems like something that we can fix. Can you be more specific about the nature of the error?

[2016-02-05 17:10] MartnAR commented on #99
Sure, the problem actually states that openWAR's incompatibilty is due to both KernSmooth and Sxslt packages are not available for R 3.2.3.
KernSmooth has zero non exit status, which can be fixed on the linux cmd line. Sxslt on the other hand has an html line which is malformed (on omegahat.org). On the cboettig GitHub repo, Sxslt finds a fatal error when installing the converters. I'm attaching t

[2016-02-05 17:17] beanumber commented on #99
Aha. I think the problem is that you don't have the XSLT libraries installed. This:
[code]
is a problem. Since you're using Linux this should be a easy fix. Can you install the libraries suggested [here](https://github.com/beanumber/openWAR/blob/master/.travis.yml)
[code]
and try again?

[2016-02-05 19:36] znmeb commented on #99
Omegahat seems to have expired domain-wise:

![screenshot from 2016-02-05 11 26 11](https://cloud.githubusercontent.com/assets/4938/12856759/511653be-cbfb-11e5-9486-18fb19c49b3f.png)

![screenshot from 2016-02-05 11 27 25](https://cloud.githubusercontent.com/assets/4938/12856794/762b3692-cbfb-11e5-853e-1af2e7028f3e.png)

There's a version here on GitHub but it doesn't install.

[2016-02-05 20:08] MartnAR commented on #99
Thanks znmeb! beanumber, I installed the libraries you suggested plus libblas-dev in order to install the KernSmooth package. There's still a problem with the RcppEigen package. I have it installed in my library but when downloading the openWAR package, it reloads it and states it has non-zero exit status. I loaded the library before the installation but to no avail.
I'm attaching the new error me

[2016-02-05 21:06] znmeb commented on #99
@MartnAR Looks like you don't have the header files for LAPACK installed. What OS are you running?

[2016-02-05 21:09] beanumber commented on #99
Yikes! Well, I guess it's time to really get rid of `Sxslt`. (#23)

@MartnAR it sounds like your issue is with `RcppEigen` (and not `openWAR` directly).

[2016-02-05 21:10] MartnAR commented on #99
@znmeb You are correct! I haven't installed lapack. I'm using Ubuntu 15.04. @beanumber, let me try and correct the issue with RcppEigen and I'll let you know if this solves the issue with openWAR.
Thanks to both of you for your help.

[2016-02-05 21:11] znmeb commented on #99
@beanumber Sxslt is open source - you could just grab the bits you're using into openWAR, right? ;-)

[2016-02-05 21:13] MartnAR commented on #99
Fixed! @znmeb you were correct. Once Lapack-dev was installed, the issue with RcppEigen was fixed and openWAR was able to install correctly.
Thanks again!

[2016-02-05 23:01] beanumber commented on #99
@znmeb In theory, I suppose that's true. In practice, I haven't looked at their code so I'm not sure how easy that you be. It also doesn't solve the problem of having the external dependency on `libxslt`. But I suppose it would be an improvement over the current state of affairs!

[2016-02-05 23:01] #99 closed

[2016-03-16 20:38] beanumber opened #100 "add SystemRequirements field to DESCRIPTION"
for the XLST stuff

[2016-04-05 01:17] znmeb opened #101 "Sxslt errors on download"
I'm cranking up openWAR again for 2016. I used

[code]

It seems to be working except that it's throwing numerous errors of the form

[code]

Is this something in openWAR, cboettig/Sxslt, or is it just some server overloading issue on MLBAM?

[2016-04-05 01:37] gjm112 commented on #101
I don't know if it's openWAR or Sxslt, but our function getData seems to spit back errors for games that aren't regulation in some sense.  That look like an exhibition game to me.  Is it possible that exhibition games don't get tracked in MLBAM?

[2016-04-05 02:03] znmeb commented on #101
@gjm112 could be - I thinned the dates down to a small subset that mostly failed and the errors were reproducible. So it might be a different format for some games on MLBAM.

[2016-04-05 04:08] znmeb commented on #101
@gjm112 I think I see one issue - some games appear to have two entries in the index. For example, the 2015 American League wild card game on October 6, 2015:

[code]

The first one (failed) looks like code for "American wild card" and the second one (succeeded) is the game itself.

[2016-05-11 01:30] #100 closed

[2016-05-11 02:04] beanumber commented on #101
Like Billy Beane, our s*#t doesn't work in the playoffs:

https://github.com/beanumber/openWAR/blob/master/R/getData.R#L50

[2016-05-11 02:04] #101 closed

[2016-05-11 02:15] gjm112 commented on #101
Yet.....

On Tue, May 10, 2016 at 9:04 PM, Ben Baumer <notifications@github.com>
wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <http://www.twitter.com/statscla

[2016-05-11 04:20] znmeb commented on #101
@glm112 Is the "yet" for Beane or for openWAR? ;-)

[2016-05-11 04:21] gjm112 commented on #101
Both....?  :)

On Tue, May 10, 2016 at 11:20 PM, M. Edward (Ed) Borasky <
notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: StatsInTheWild.com
Art: etsy.me/1JAsYz9
Twitter: @StatsInTheWild <http://www.twitter.com/StatsInTheWild>
Twitter: @StatsClass <http://www.t

[2016-05-11 18:53] #97 closed

[2016-05-11 23:54] znmeb opened #102 "Install dependencies on Fedora 24 Workstation"
I just installed openWAR on a Fedora 24 Workstation (beta). Here are the Linux dependencies:
1. R - the easiest way to get R and everything you need to install packages from source is to do `sudo dnf install R-devel`.
2. devtools - you need `devtools` to install a package from GitHub. You'll need two Fedora packages for that: `sudo dnf install libcurl-devel openssl-devel`
3. openWAR needs Sxslt, a

[2016-05-18 20:48] znmeb commented on #90
I don't have much time to work on this till late June, but this seems to me a must-do now. I ran into some "R CMD CHECK" issues and decided to remove openWAR from one of my toolsets. Today I decided to put it back in and now I'm getting install failures in `devtools::install_github("cboettig/Sxslt")`!

I'm going to fork Sxslt and see if I can figure out what's happening, but at the moment everythi

[2016-05-18 21:34] znmeb commented on #90
Fork done - removed a few lines of code from `R/nodeSet.S` and my fork of Sxslt now installs ... see <https://github.com/znmeb/Sxslt/issues/1> and <https://github.com/znmeb/Sxslt/commit/94af3909317facd7b862c0938b6e117ae67d708e>

[2016-05-18 22:14] beanumber commented on #90
Did you try `omegahat/Sxslt`? @duncantl updated this a few days ago and then it compiled for me.

[2016-05-18 23:59] znmeb commented on #90
I wasn't aware of its existence. But I am now and it's working. Thanks!

But switching to pitchRx / SQLite still sounds like a good idea, if only to get things working on Windows.

[2016-07-11 01:47] lqsullivan commented on #90
I've been trying to use openWAR on windows lately and after giving up on the sxslt dependencies, I'm really interested in the suggestions here of using pitchRx to just put it all in a database. Are there any examples of what the data frames that openWAR needs should look like so I have a target to shoot for? I've started combing through the code trying to see what it's doing, but seeing the end wo

[2016-07-11 09:45] znmeb commented on #90
@lqsullivan @beanumber I've got some free time now to look at this. Meanwhile, for Windows users with a decent amount of RAM there's always Docker - there are Docker images with RStudio, and I've got one with Jupyter (Notebooks, currently Python 3, R and Julia.

[2016-08-10 15:20] gjm112 opened #103 "Error: object 'isBIP' not found"
I'm getting this error when I run makeWAR.  I don't have time to look into it now, but thought I would make a note of it.

[2016-08-10 16:15] gjm112 commented on #103
I think this is a dplyr issue with filter.  But I can't seem to fix it.

[2016-10-26 19:41] ScottASpencer opened #104 "Error: Can not automatically convert from character to logical in column "game_type""
I received the above error when running:

dat16 <- openWAR::getData(start = "2016-01-01", end = "2016-10-25")

The error occurred after going through all dates, and no "dat16" resulted.

[2016-11-25 21:33] gjm112 commented on #103
I'm trying to update openWAR for 2016, but I keep getting this error.  I have no idea how to fix it.

[2016-11-27 19:36] beanumber commented on #103
@gjm112 Can you post a MWE and your session info?

[2017-01-27 06:09] stevebit opened #105 "R Version"
Hi,

What's the latest version of R that the openWARS package works for.  I've tried it for multiple version of R going back to 2.15.3 to 3.3.2.  I keep getting the following error.

"is not available (for R version 3.0.3)"

Thanks

[2017-01-30 01:29] beanumber commented on #105
@stevebit What are you running in order to generate that error? Is it this:
[code]
Note that `openWAR` is not on CRAN so you have to use the `install_github()` function from the `devtools` package in order to install it. Please see the [README](https://github.com/beanumber/openWAR).

[2017-01-30 01:33] stevebit commented on #105
Hi Ben,

I'm running the following.  Thanks for your help.  Great package by the way.

R version 3.3.2 (2016-10-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=English_Australia.1252  LC_CTYPE=English_Australia.1252
 LC_MONETARY=English_Australia.1252
[4] LC_NUMERIC=C                       LC_TIME=English_Australia.1252

[2017-01-30 01:43] beanumber commented on #105
Hmm...it sounds like switching to Google DNS might solve your problem:

https://github.com/jeroenooms/curl/issues/72
https://github.com/hadley/devtools/issues/877

[2017-02-22 04:04] alejandroam4 commented on #54
@beanumber , would recenter() work for x and y in the pitch table ( from PitchRx's scrape() function) like it does for the hip table?

[2017-02-22 18:11] beanumber commented on #54
Are the `x` and `y`'s field coordinates? If so, then probably. All `recenter()` does is change the coordinates from the MLBAM data. Can you post a code snippet?

[2017-02-23 06:09] alejandroam4 commented on #54
The `x` and `y` are, according to [PitchFX Glossary](https://fastballs.wordpress.com/category/pitchfx-glossary/):

Here's a snippet of the pitch table:
<pre>
                des           des_es id type        x        y
1             Foul             Foul  3    S 108.3599 135.9666
2  In play, out(s) En juego, out(s)  4    X 108.8094 153.8430
3  In play, out(s) En juego, out(s)  8    X 107.9105 15

[2017-02-23 14:00] beanumber commented on #54
It sounds like those `x`'s and `y`'s are **pitch** location. `recenter()` works with **field** locations.

[2017-03-01 09:04] alejandroam4 commented on #54
Do you have the source of where you got the transformation for field locations? Maybe there's a note on how to convert to pitch location.

[2017-03-01 16:47] beanumber commented on #54
@alejandroam4 I'm sorry but I am not understanding your question. Why do you want to convert the pitch locations? And what is the relationship between pitch location and field location?

[2017-06-05 23:21] mjr2000 commented on #23
Does anyone know what the problem is? I guess the website was taken down.

`> install.packages("Sxslt", repos = "http://www.omegahat.org/R", type = "source")
Warning in install.packages :
  cannot open URL 'http://www.omegahat.org/R/src/contrib/PACKAGES.rds': HTTP status was '404 Not Found'
Warning in install.packages :
  cannot open URL 'http://www.omegahat.org/R/src/contrib/PACKAGES.gz': HTTP st

[2017-06-06 00:08] beanumber commented on #23
@mjr2000 this was discussed in the issues referenced above. Try;
[code]
or
[code]
instead.

[2017-06-07 20:59] mjr2000 commented on #23
The second code worked! Thanks.

[2017-06-26 23:34] davidbmitchell opened #106 "Error in makeWar() after upgrading dplyr to 0.7.1"
I stumbled across this today when I was playing around with openWAR at work. In short, I created a new instance on [https://r-brain.io/](url) and installed the newest dplyr, 0.7.1. After a while I came to the conclusion it had to be something that changed in dplyr.

So I came home, updated dplyr on my computer, previously version 0.5.0, and sure enough, the error happened again.

I just ran this c

[2017-06-26 23:48] davidbmitchell commented on #106
Forgot to add the traceback:
[code]

[2017-06-27 12:58] beanumber commented on #106
Hmm...OK, I will investigate. Or I would be happy to field a pull request if you find the problem.

[2017-06-27 15:38] davidbmitchell commented on #106
I believe dplyr is breaking some functions because of the new approach to Non-Standard Evaluation they are using called "tidyeval". I'm still trying to wrap my head around it. I made a change on [Line 152](https://github.com/beanumber/openWAR/blob/master/R/makeWAR.R#L152) of `makeWAR.R`. I wrapped `mutate` in `quo()`, removed the underscore and the tilde in front of `predict`. This fixed the error

[2017-07-02 19:21] puvrocks27 opened #107 "Still having trouble installing Sxslt package on github to be able to install openWar"
I am trying to use openWar to do some sequential testing with baseball data, and I have gone through the steps in the Readme section to install the Sxslt package, which is necessary to install the openWar package through github. However, it gives me this same error in Rstudio every time.

Downloading GitHub repo omegahat/Sxslt@master
from URL https://api.github.com/repos/omegahat/Sxslt/zipball/mas

[2017-07-03 14:13] davidbmitchell commented on #107
I still don't think there is a way to install on Windows. But I am not 100% on that. The particular problem you are running into is that `LIB_XSLT` has not been defined. You could define this by:
[code]
I know there are ports for  `libxml2` and `libxlst` provided by [Igor Zlatković](https://www.zlatkovic.com/libxml.en.html) but I was not able to get them to work. It looks like [MSYS2](http://www.m

[2017-07-03 16:25] beanumber commented on #107
@puvrocks27 Did you try this:

[code]

[2017-07-03 17:25] puvrocks27 commented on #107
@beanumber  I tried this and still didnt work out.

[2017-07-03 17:26] puvrocks27 commented on #107
@davidbmitchell I tried this first command and didnt work out. I also tried installing MSYS2 and I still get the same errors.

[2017-07-03 21:22] davidbmitchell commented on #107
Because you are Windows you're probably out of luck. I never was able to get it working on Windows. I think you would probably have to port the libraries to Windows yourself and honestly I don't even know where to begin there

[2017-07-03 21:32] davidbmitchell commented on #107
The easiest workaround at this point for Windows is setting up a Linux virtual machine using VirtualBox or something similar

[2017-07-03 22:20] znmeb commented on #107
@puvrocks27 @davidbmitchell On Windows 10 Pro you've got a few options:

1. Command line R should run in the Windows Linux subsystem.
2. Docker for Windows plue Rocker / RStudio server - this is Debian Lunux under the hood.
3. A full Linux VM, again running RStudio. Frankly, I think that's overkill; if you're really that into the Linux desktop (as I am) you should just dual-boot your machine. ;-)

[2017-07-04 14:36] puvrocks27 commented on #107
@davidbmitchell @beanumber @znmeb I have access to a lab with a Mac so I am going to try installing the package there. I was previously scraping urls for line scores of many games, which is the only data I need right now, but openWar seems to have a much more efficient way of getting many games. So we will see if it works on a Mac.

[2017-07-04 18:31] davidbmitchell commented on #107
@znmeb I'm working on refactoring the code to work with tidyeval. I think I've found the pattern the causing it to break some openWAR functions. Its just going on a little slower than I like because I'm also in the process of renovating my new house.

[2017-07-09 04:02] davidbmitchell opened #108 "Calculations for delta.pitch and delta.field differ from previous calculations"
I compared running `makeWAR()` on the May data set to the MayProcessed data set and noticed that the `delta.field` and `delta.pitch` columns in the New MayProcessed data set differed from the original MayProcessed data set. They actually look transposed which you can see below. I did this using `dplyr 0.5.0`, but I first noticed it when testing `makeWAR()` after refactoring for `dplyr 0.7.0` .

[c

[2017-07-10 14:41] davidbmitchell commented on #108
I actually think this occurring in `makeWARFielding`, specifically [Lines 365-366](https://github.com/beanumber/openWAR/blob/master/R/makeWAR.R#L365-366).

[code]

[2017-07-10 17:45] beanumber commented on #108
OK, thanks, I will take a look. The `dplyr` update broke all of my other packages too!

[2017-07-10 20:14] davidbmitchell commented on #108
I bet its breaking a lot of packages in the R universe. Honestly, I don't think the tidyeval is all that tidy. It makes things a lot more convoluted, but I'm also just not used to it yet.

[2017-07-10 20:21] davidbmitchell commented on #108
I think I found where the change could have occurred. The [commit](https://github.com/beanumber/openWAR/commit/f5d00284e852238de0c0a9d0b2ecc25a6ed6ec91) to close [issue #92](https://github.com/beanumber/openWAR/issues/92) might have done it. Which makes me believe that the `NewMayProcessed` above is actually correct, but I'm still not 100% on it.

[2017-10-04 18:53] #31 closed

[2017-10-04 18:53] #102 closed

[2017-10-04 18:53] #105 closed

[2017-10-04 18:53] #106 closed

[2017-10-04 18:53] #107 closed

[2017-10-04 18:53] #103 closed

[2017-11-16 14:51] ssp3nc3r opened #111 "getData — Error in bind_rows_(x, .id) : Column `balls` can't be converted from character to integer"
I received this error when retrieving data for the 2012 regular season. When I change the line of code in `getData(...)` from,

`out <- dplyr::bind_rows(ds.list)`

to

`out <- do.call(rbind, lapply(ds.list, data.frame, stringsAsFactors=FALSE))`

the code completes without an error, though `balls` and `strikes` are of type character so they need to be converted to integer: `out <- transform(out, ba

[2017-11-17 00:26] beanumber commented on #111
Hmm...OK, thanks. Can you identify a particular day in 2012, or better yet, a particular game in which the problem arises? That would be helpful in debugging.

[2017-11-17 02:52] ssp3nc3r commented on #111
No, sorry. I scraped the entire regular season at once. The `bind_rows` operates on the entire list at once, so it may take a lot of trial and error to find the offending game or games. I just re-ran the function, up to assignment to `ds.list`, so that I could have the data saved, and from that figured out the code I shared above which fixed the error.

[2018-01-19 23:25] Djgamelin opened #112 "getData returning 0 games"
getData function seems to be returning 0 games, successfully ran the same/similar code about 5 days ago to success, not sure if something changed.

![getdata](https://user-images.githubusercontent.com/13722746/35176260-f5f4cd5c-fd45-11e7-91ff-753220c459cd.JPG)

[2018-01-22 01:24] beanumber commented on #112
Hmm...is it still doing this? I probably won't have time to investigate until next week.

[2018-01-22 02:29] Djgamelin commented on #112
Yeah, still getting the same result. Over the past few weeks I scraped 2014-2017 seasons and went to grab 2013 when the issue popped up, the old code I used also returns 0 games now for every date. I am running windows os and saw others post issues related to Sxslt, wasn't sure if this was causing it; but also not sure what would have changed to result in previous working code no longer working in

[2018-01-22 16:19] gjm112 commented on #112
There is a package called openWARData with full data sets available which
prevents the need to scrape:
https://github.com/beanumber/openWARData/tree/master/data

That doesn't solve this exact problem, but it does get you the data that
you are looking for.

Cheers,
Greg

On Sun, Jan 21, 2018 at 8:29 PM, Djgamelin <notifications@github.com> wrote:

--
Gregory J. Matthews, Ph.D.
Assistant Professor
D

[2018-01-23 01:38] Djgamelin commented on #112
@gjm112  Thank you, that's good to know and potentially helpful on future projects, sadly for my current project I need the data at the rawest form and a few variables that come with the getData function but don't appear in the openWARData data sets... it also doesn't help that I've built a bunch of workflows based on the data I scraped previously :).

[2018-01-23 01:43] gjm112 commented on #112
The data in openWAR data should be in the rawest form.  What are you
missing that you need from that data set?

On Jan 22, 2018 7:38 PM, "Djgamelin" <notifications@github.com> wrote:

[2018-01-23 03:01] Djgamelin commented on #112
My bad! I grabbed the openWARPlays files, not MLBAM files. Thanks for your help, this data is awesome; I really appreciate it!

[2018-01-23 03:01] #112 closed

[2018-01-24 15:51] beanumber commented on #112
Thanks @gjm112 and @Djgamelin !

[2018-02-03 04:10] Djgamelin commented on #112
@beanumber  Any chance you've encountered this issue still? I actually tried using the getdata and getGameIds functions on a Linux VM to see if the issue was Windows related (installed openWAR and dependencies fine) and both are still returning 0 games found. Can provide screenshots if you'd like.

Both run, but return 0 games...

GDAug16_ = getData(start = "2017-08-01", end = "2017-08-03")

getGa

[2018-03-25 08:27] znmeb commented on #112
I still have this on Linux - about to troubleshoot, but I'm guessing the MLB API changed as of a day or so before someone first ran into this ;-)

[2018-03-25 09:06] znmeb commented on #112
Yep - in the browser: `http://gd2.mlb.com/components/game/mlb/year_2017/month_04/day_14/` gives
[code]
and `http://gd2.mlb.com/components/game/mlb/year_2017/month_04/day_14` gives an index page!

So as of 2018-03-25 the trailing slash needs to be removed. I wonder when it changed.

[2018-03-25 17:16] Djgamelin commented on #112
Pretty sure it changed about 2 months ago when I first posted the issue, at the time I was using the package daily and then it just stopped working. I thought it was my OS until I tried the Linux VM, ended up using a different package but my preference is to use this package once again as it's so fast and clean.

[2018-03-25 18:03] znmeb commented on #112
It's fixed in my fork and I've got a pull request in here. https://github.com/znmeb/openWAR

[2018-03-25 18:25] beanumber commented on #112
Sorry, I haven't had any time to look at this, but I approved the PR! Thanks.

[2018-03-25 20:17] znmeb commented on #111
I'm getting an empty data frame from `out <- dplyr::bind_rows(ds.list)` now. I've forked the repo and I'm in the process of troubleshooting. `gd.list` looks OK but `ds.list` has nulls for all the data.

[code]
It's crashing trying to drop suspended games, but ds.list is messed up before it gets there and the `out` data frame is empty.
![screenshot from 2018-03-25 13-08-55](https://user-images.gith

[2018-03-30 14:36] james-ingold commented on #111
@znmeb have you made progress on the gameId error issue? I'm getting that as well. It looks like the gameId now includes the day part of the url which I don't think it used to, day_24/gid_2018_03_24_arimlb_a.
The base url in GameDay.R includes the day portion already, so appending the gameId is probably returning a 404
base <- paste0("http://gd2.mlb.com/components/game/mlb/year_", yyyy, "/month_",

[2018-03-30 16:14] james-ingold commented on #111
@znmeb I was getting the same issue. It looks like MLB game day is including the day_xx portion of the url with the game ids now. I made the following pull request which fixes the issue
https://github.com/beanumber/openWAR/pull/114

[2018-04-03 04:39] gjm112 opened #115 "getData Error"
Retrieving data from 2013-06-30 ...

...found 0 games

Error in grouped_df_impl(data, unname(vars), drop) :
  Column `gameId` is unknown

[2018-04-03 15:11] james-ingold commented on #115
This is an issue because the mlb api changed to include the day_xx portion of the url in their gameIds. I've got it fixed in this pull request https://github.com/beanumber/openWAR/pull/114

[2018-06-19 04:15] gjm112 opened #116 "2016 data returns error when running makeWAR."
Example:
library(openWAR)
load("~/Dropbox/openWARData/data/MLBAM2016.rda")
openWARplays2016 <- makeWAR(MLBAM2016)

 Error in filter_impl(.data, quo) :
  Evaluation error: object 'isBIP' not found.

This only happens for 2016.  All other years work.

[2018-06-19 13:59] beanumber commented on #116
Confirmed. Not sure if [this](https://github.com/beanumber/openWARData/issues/12) is *the* problem, but it's *a* problem.

[2018-06-19 14:39] #116 closed

[2018-09-10 17:34] beanumber opened #117 "Use tidypredict to make models lightweight"
(https://github.com/edgararuiz/tidypredict)

[2019-04-08 20:02] james-ingold opened #118 "bis_boxscore.xml not available for 2019 games"
bis_boxscore.xml is not available for games this season.  For example, this directory has no bis_boxscore.xml which is a file this library depends on to build out war:  http://gd2.mlb.com/components/game/mlb/year_2019/month_03/day_29/gid_2019_03_29_anamlb_oakmlb_1/

I'm looking at working around this, but wondering if anyone has some info on why gameday at mlb.com isn't providing this file anymore

[2019-04-24 18:10] beanumber commented on #118
It looks like the file is now just called `boxscore.xml`.

* Does it contain the same information as `bis_boxscore.html`?
* Have they renamed the old files?

[2019-06-27 17:55] james-ingold commented on #118
@beanumber have you been able to use openWar for the 2019 season/is this library still maintained? I haven't been able to get the boxscore.html file to work but I haven't been able to spend enough time looking at it.

[2019-06-27 18:19] beanumber commented on #118
I haven't been able to spend any time on it either @james-ingold. I'm guessing that it is a simple fix but it will require some digging to verify backwards compatibility.

[2019-07-17 14:03] james-ingold commented on #118
Hey @beanumber  I'm trying to look into this, pulled down latest and getting
Error during wrapup: Evaluation error: object 'isBIP' not found in the makeWAR.GameDayPlays_Runs function:
bip.idx <- which(x$data$isBIP == TRUE & !is.na(x$data$our.x))

Do you know how to resolve this issue?

[2019-07-17 14:45] gjm112 commented on #118
I keep running into this problem too.  If I recall correctly, it was an
issue with dplyr?  But I'm only like 25% sure that was it.

On Wed, Jul 17, 2019 at 9:03 AM James Ingold <notifications@github.com>
wrote:

--
Gregory J. Matthews, Ph.D.
Data Science Program Director
Assistant Professor
Department of Mathematics and Statistics
Loyola University Chicago
E-mail: gjm112 -at- gmail.com
Blog: Stats

[2020-05-28 19:24] judah-axelrod opened #119 "Calculating Baserunner RAA"
Hi, I'm trying to replicate OpenWAR calculations on my own to potentially incorporate data that wasn't available when this project started, and I'm not understanding the following step in the Baserunner RAA portion:

Looking at line 550 of makeWAR.R, you create a function "getCDF" to compute the empirical probabilities of every possible # of bases advanced in a given situation. But then the _lagge

[2020-05-29 14:08] beanumber commented on #119
Hmm...thanks for contributing this @ballparkfigures . Both @gjm112 and @beanumber are struggling to find time under these circumstances, but we will look into this. We appreciate your interest in this work!

[2020-09-16 13:33] swiftaw opened #120 "Error with gameday() and getData()"
There seems to be an issue with gamely() not pulling the data properly. It only seems to contain gameID, base and url but not ds.

Also, getData() produces the error:

Retrieving data from 2020-09-15 ...

...found 0 games

Error: Problem with `filter()` input `..1`.
✖ object 'game_type' not found
ℹ Input `..1` is `game_type == "R"`.
Run `rlang::last_error()` to see where the error occurred.

[2020-09-18 18:12] beanumber commented on #120
It's possible that the API has changed. Can you get data from games for any other day?

[2020-09-18 19:06] swiftaw commented on #120
Ben
I tried putting arbitrary dates in (not all from 2020) and I got the same
error.

On Fri, Sep 18, 2020 at 1:12 PM Ben Baumer <notifications@github.com> wrote: